<%= textilize @noticia.content %>
<% @noticias.each_with_index do |noticia, index| %>
  <%= '<div id="noticias">' if index % 2 == 0 %>
  <div class="noticia">
    <%= textilize noticia.content %>
  </div>
  <%= '</div>' if index % 2 != 0 %>
<% end %>
